@media screen and (max-width: 768px) {
  .main-container {
    width: 100% !important;
  }
  .main-container .meeting-score {
    padding: 5px 20px;
  }
  .main-container .tabs-container {
    padding: 0 !important;
    width: 100% !important;
  }
  .main-container .tabs-container .tab-my-meetings .table-responsive {
    display: none !important;
  }
  .main-container .tabs-container .tab-my-meetings .table-mobile {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    background-color: #fff;
    padding: 20px 0;
  }
  .main-container .tabs-container .tab-my-meetings .table-mobile .trow:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .main-container .tabs-container .tab-my-meetings .table-mobile .trow {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
  }
  .main-container .tabs-container .tab-my-meetings .table-mobile .trow .tcol {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 11px;
    padding: 5px;
  }
  .main-container .tabs-container .tab-my-meetings .table-mobile .trow .tcol .tcol-title {
    font-weight: 700;
  }
  .main-container .tabs-container .tab-settings {
    padding-top: 20px !important;
  }
}
main.py-4 {
  position: relative;
}
.events-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../img/events-bg3.jpg');
  background-repeat: repeat;
  background-position-y: -5px;
  z-index: -1;
  opacity: 0.5;
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 1024px;
  margin: 0 auto;
  padding: 20px 0;
}
.main-container .meeting-score {
  color: #CC6666;
  height: 150px;
}
.main-container .meeting-score .title {
  font-family: Source Sans Pro, sans-serif;
  font-weight: 600;
}
.main-container .meeting-score .score {
  display: flex;
}
.main-container .meeting-score .score .score-value {
  font-size: 108px;
  margin-top: -30px !important;
}
.main-container .meeting-score .score .sharing {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-container .meeting-score .score .sharing .linkedin {
  font-size: 16px;
  padding: 5px 10px;
  background-color: #006097;
  color: #fff;
  line-height: unset !important;
  border-radius: 2px;
  text-decoration: none;
  margin-top: 10px;
}
.main-container .meeting-score .score .sharing .linkedin a {
  color: #fff;
  font-weight: 600;
}
.main-container .meeting-score .score .sharing .linkedin span {
  background-color: #fff;
  color: #006097;
  padding: 1px 3px;
  border-radius: 2px;
}
.main-container .tabs {
  font-family: Merriweather, 'serif';
  font-weight: bold;
  display: flex;
}
.main-container .tabs .tab.active {
  background-color: #fff;
  color: #CC6666;
}
.main-container .tabs .tab {
  width: 120px;
  padding: 10px 0;
  color: #fff;
  background-color: #CC6666;
  text-align: center;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  margin-right: 3px;
}
.main-container .tabs-container {
  background-color: #fff;
  padding: 20px;
}
.main-container .tabs-container .tab-content {
  display: none;
}
.main-container .tabs-container .tab-content.active {
  display: block;
}
.main-container .tabs-container .tab-my-meetings .table-mobile {
  display: none;
}
.main-container .tabs-container .tab-my-meetings .table-responsive {
  display: block;
  border: 0;
}
.main-container .tabs-container .tab-my-meetings .table-responsive th {
  border: 0;
}
.main-container .tabs-container .tab-settings .tbl-settings {
  display: flex;
  flex-direction: column;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.main-container .tabs-container .tab-settings .tbl-settings .trow {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
  align-items: center;
  position: relative;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow > span {
  position: absolute;
  right: 0;
  display: none;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .not-clickable {
  pointer-events: none;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .check-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .check-container input[type=checkbox] {
  display: none;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .check-container input[type=checkbox]:checked ~ label span {
  opacity: 1;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .check-container label {
  border: 1px solid #CC6666;
  margin: 0;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .check-container label span {
  transition: ease 0.3s;
  opacity: 0;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow > label {
  margin: 0;
  cursor: pointer;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow > label img {
  max-width: 20px;
  max-height: 20px;
  margin-right: 5px;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow a {
  text-decoration: none;
  cursor: pointer;
  padding: 2px 5px;
  border: 2px solid #CC6666;
  color: #CC6666;
  text-transform: uppercase;
  margin-left: 15px;
  border-radius: 3px;
  font-weight: 500;
  transition: ease 0.3s;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.main-container .tabs-container .tab-settings .tbl-settings .trow a:hover {
  background-color: #CC6666;
  color: #FFF;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .exclusions-container {
  display: flex;
  flex-direction: column;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .exclusions-container > p {
  color: #CC6666;
  margin-top: 15px;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .exclusions-container .excluded-email-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .exclusions-container .excluded-email-list .exclusion {
  position: relative;
  margin-right: 10px;
  margin-top: 5px;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .exclusions-container .excluded-email-list .exclusion .input {
  pointer-events: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  border-radius: 15px;
  background-color: transparent;
  display: flex;
  min-width: 5px;
  text-transform: lowercase;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .exclusions-container .excluded-email-list .exclusion .input[contenteditable=true] {
  pointer-events: unset;
  border: 1px solid #CC6666;
  color: #CC6666;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .exclusions-container .excluded-email-list .exclusion .input[contenteditable=true] ~ .actions {
  opacity: 1;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .exclusions-container .excluded-email-list .exclusion .input[contenteditable=true] ~ .actions .minus {
  display: none;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .exclusions-container .excluded-email-list .exclusion .input[contenteditable=true] ~ .actions .check,
.main-container .tabs-container .tab-settings .tbl-settings .trow .exclusions-container .excluded-email-list .exclusion .input[contenteditable=true] ~ .actions .times {
  display: initial;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .exclusions-container .excluded-email-list .exclusion .actions {
  position: absolute;
  right: -5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  font-size: 12px;
  opacity: 0;
  transition: ease 0.3s;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .exclusions-container .excluded-email-list .exclusion .actions .check,
.main-container .tabs-container .tab-settings .tbl-settings .trow .exclusions-container .excluded-email-list .exclusion .actions .times {
  display: none;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .exclusions-container .excluded-email-list .exclusion .actions span {
  margin-bottom: 2px;
  cursor: pointer;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .exclusions-container .excluded-email-list .exclusion:hover .input:not([contenteditable=true]) ~ .actions {
  opacity: 1;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .exclusions-container .excluded-email-list .exclusion:hover .input:not([contenteditable=true]) ~ .actions .check,
.main-container .tabs-container .tab-settings .tbl-settings .trow .exclusions-container .excluded-email-list .exclusion:hover .input:not([contenteditable=true]) ~ .actions .times {
  display: none;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .exclusions-container .btn-add-exclusion {
  display: flex;
  align-items: center;
  color: #CC6666;
  cursor: pointer;
  margin-top: 20px;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .exclusions-container .btn-add-exclusion > div {
  font-size: 12px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid #CC6666;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  transition: ease 0.3s;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .exclusions-container .btn-add-exclusion.disabled {
  color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .exclusions-container .btn-add-exclusion.disabled > div {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .exclusions-container .btn-add-exclusion:hover > div {
  color: #FFF;
  background-color: #CC6666;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .tbtn {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  margin-right: 40px;
  cursor: pointer;
  transition: ease 0.3s;
}
.main-container .tabs-container .tab-settings .tbl-settings .trow .tbtn:hover {
  color: #000000;
}
/*# sourceMappingURL=meetings.css.map */