@media screen and (max-width: 768px) {
  .profile-container {
    padding: 20px !important;
  }
  .profile-container .title {
    font-size: 18px !important;
    margin-bottom: 20px !important;
  }
  .profile-container .reg-options {
    flex-direction: column !important;
    justify-content: flex-start !important;
  }
  .profile-container .reg-options .opt.col {
    flex-direction: row !important;
    justify-content: space-evenly;
  }
  .profile-container .reg-options .opt.col img {
    width: 150px;
    height: 150px;
  }
  .profile-container .reg-options .opt {
    max-width: 100% !important;
    padding-bottom: 0 !important;
  }
  .profile-container .reg-options .opt form {
    width: 100% !important;
    max-width: 600px !important;
    margin: 20px auto 0 auto !important;
  }
}
main.py-4 {
  background-color: #EDEEF0 !important;
}
.profile-container {
  width: 100%;
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 70px 0;
  margin: 0 auto;
}
.profile-container .title {
  font-family: 'Merriweather', 'serif';
  font-weight: bold;
  font-style: italic;
  color: #CC6666;
  font-size: 24px;
  margin-bottom: 30px;
  width: 100%;
}
.profile-container .reg-options {
  display: flex;
  justify-content: space-between;
}
.profile-container .reg-options .opt.col {
  flex-direction: column;
  justify-content: flex-start;
}
.profile-container .reg-options .opt {
  display: flex;
  flex-grow: 1;
  max-width: 48%;
  flex-basis: 100%;
  align-items: center;
  position: relative;
  padding-bottom: 50px;
  flex-direction: column;
}
.profile-container .reg-options .opt form {
  width: 100%;
}
.profile-container .reg-options .opt form .form-group.submit {
  display: flex;
  justify-content: flex-end;
}
.profile-container .reg-options .opt form input,
.profile-container .reg-options .opt form select {
  background-color: transparent !important;
}
.profile-container .reg-options .opt form input[type=email] {
  text-transform: lowercase;
}
.profile-container .reg-options .opt form button[type=submit]:disabled {
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
  color: rgba(0, 0, 0, 0.5) !important;
  pointer-events: none;
  cursor: default;
}
.profile-container .reg-options .opt img {
  max-width: 270px;
  max-height: 270px;
  width: 270px;
  margin-right: 20px;
}
.profile-container .reg-options .opt p {
  font-family: "Source Sans", sans-serif;
  font-weight: lighter;
  color: #5B5B5F;
  font-size: 16px;
}
.profile-container .reg-options .opt p span.highlighted {
  color: #CC6666;
}
.profile-container .reg-options .opt .bottom-line {
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #CC6666;
  bottom: 0;
  transition: width ease 0.3s;
}
.profile-container .reg-options .opt .or-login-with {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.profile-container .reg-options .opt .or-login-with .line-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  align-items: center;
}
.profile-container .reg-options .opt .or-login-with .line-container .left-line,
.profile-container .reg-options .opt .or-login-with .line-container .right-line {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}
.profile-container .reg-options .opt .or-login-with .line-container .center-line {
  margin: 0;
  color: #CC6666;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-container .reg-options .opt .social-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
}
.profile-container .reg-options .opt .social-buttons a {
  font-size: 14px;
  color: #CC6666;
  margin: 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 4px 0;
  border-radius: 5px;
  align-items: center;
}
.profile-container .reg-options .opt .social-buttons a img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.profile-container .reg-options .opt .email-msg,
.profile-container .reg-options .opt .pass-msg,
.profile-container .reg-options .opt .conf-msg {
  color: darkred;
  font-size: 12px;
  display: none;
}
.profile-container .reg-options .opt:hover .bottom-line {
  width: 100%;
}
/*# sourceMappingURL=register-profile.css.map */